<% var devDetails =[
    ['Neha Patel', 'Team Leader', '2017UGCS011R'],
    ['Ashwani Kumar', 'Electronics', '2017UGEC014R'],
    ['Gautam Kuber', 'Electronnics', '2017UGEC018R'],
    ['Pankaj Vaghela', 'Networks & Communication', '2017UGCS032R'],
    ['Vishal Kumar', 'Web App', '2017UGCS055R'],
    ['Abhishek Aman', 'Web App', '2018UGCS003R']
] %>


<%- include("../header") -%>

<h1 class="devTitle">Developers</h1><br>

<div class="wardGrid">

<% for(var i=0; i<devDetails.length; i++) { %>
    
    <div class="devCard">
        <div class="devName">
            <h3><%= devDetails[i][0] %></h3>
        </div>
        <div class="det">
            <h4><%= devDetails[i][1] %></h4>
            <h4><%= devDetails[i][2] %></h4>
        </div>
    </div>
  
<% } %>

</div>


<%- include("../footer") -%>
