

<%- include('../header') -%>

<div class="wardGrid">

<% for(var i=0; i<patient.length; i++) { %>
  <div class="bedBox" id= "<%= patient[i][0] %>">

    <div class="bedNo">
      <h2>Bed# <%= patient[i][0] %></h2>
    </div>
    <div class="patientDet">
      <p><a><%= patient[i][1] %></a></p>
    </div>

  </div>

  <% } %>

</div>  

<%- include('../footer') -%>
